@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');

html {
  --plt-bg: #f8f8ff;
  --plt-crd: #ffffff;
  --plt-txt: #212121;
  --plt-prmy: #ff00aa;
  --plt-dsbld: #808080;
  --animate-time: .2s;
}

@media (prefers-color-scheme: dark) {
  html {
    --plt-bg: #20201c;
    --plt-txt: #eeeeee;
    --plt-crd: #000000;
    --plt-prmy: #ff00aa;
    --plt-dsbld: #808080;

    color-scheme: dark;
  }
}

html, body {
  font-family: 'Nunito', sans-serif;
  background-color: var(--plt-bg);
  color: var(--plt-txt);
  margin: 0;
}